node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
dist

.DS_Store
.cache
.env
.env.local
.vercel
.output
.nitro
.data
.aegis-runtime
/build/
/api/
/server/build
/public/build
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack
